
.vs/TextMining-SearchInNews/v15/Server/sqlite3/db.lock
.vs/TextMining-SearchInNews/v15/Server/sqlite3/storage.ide
.vs/TextMining-SearchInNews/v15/Server/sqlite3/storage.ide-shm
.vs/TextMining-SearchInNews/v15/Server/sqlite3/storage.ide-wal
